<div class="kiosk-container container my-0">
    
    <div class="container d-flex align-items-center justify-content-center text-center py-0  header-center">
            <div class="me-0 ">
                <img src="images/NFC logo.png" alt="Nitte Food Canteen logo" class="image-wrapper" style="height: 250px; width: 250px;"/>
            </div>
            <div class="site-brand ms-3">
                <h1 class="h3 mb-0 accent-heading" style="font-size: 50px; font-family: 'Bebas Neue', sans-serif;">Nitte Food Canteen</h1>
                <small class="text-muted" style="font-size: 20px;">Self-service Kiosk</small>
            </div>
        </div>

                <div id="promoCarousel" class="carousel slide mb-5" data-bs-ride="carousel" data-bs-interval="3000">
        <div class="carousel-inner rounded-3 shadow-lg">
            <div ng-repeat="promo in promotions"
                class="carousel-item p-4 {{ promo.color }} {{ $index === 0 ? 'active' : '' }}">
            <div class="text-center py-3">
                <h2 class="display-5 fw-bold">{{ promo.title }}</h2>
                <p class="lead">{{ promo.subtitle }}</p>
            </div>
            </div>
        </div>
        </div>


            <div class="card-body">

                <h1 class="fw-bold display-1 mb-3 text-center p-4">ORDER HERE</h1>
                <h2 class="fw-bold display-3 mb-3 text-center p-4">TO SKIP THE QUEUE</h2>
                <p class="lead text-muted mb-4 text-center p-4">Fast, contactless ordering for students and staff.</p>

            <div class="d-flex justify-content-center align-items-center" style="gap: 150px;">
            <div class="text-center" ng-click="dineIn()">
                <img src="images/dine in.png" alt="Dine in" class="clickable-image" style="width:250px; height:auto;" />
                <div style="margin-top: 10px; font-size: 35px; font-weight: bold;" class="click-text" ng-click="takeAway()">Dine In</div>
            </div>
            <div class="text-center" ng-click="takeAway()">
                <img src="images/take_away.png" alt="Take away" class="clickable-image" style="width:250px; height:auto;" />
                <div style="margin-top: 10px; font-size: 35px; font-weight: bold;" class="click-text" ng-click="takeAway()">Take Away</div>
            </div>
            </div>

            </div>

</div>